<!DOCTYPE html>
<html ng-app>
<head>
  <title>SC4G</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
      function toggleElement(elementId) {
          var element = document.getElementById(elementId);
          if (!element) return false;
          if (element.style.display == "none") {
              element.style.display = "block";
          }
          else {
              element.style.display = "none";
          }
          return true;
      }

  </script>
</head>
<body>

<%= yield %>
<footer class="navbar-fixed-bottom">
  <%= debug(params) if Rails.env.development? %>
</footer>

</body>
</html>
